.container{
  /* background-color: aqua; */
}

.link-cls{
  background-color:rgb(91, 214, 33);
  padding:20px;
}

.link-cls1{
  background-color:rgb(250, 15, 234);
  padding:20px;
}

.page-container{
  margin-top:30px;
}